body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
}

#header-placeholder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding: 0;
}

#login-form {
    max-width: 450px;
    padding: 40px;
    background: #0900b7;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    width: 100%;
    margin-top: 0;
}

#login-form label {
    display: block;
    font-size: 0.9em;
    color: #f0f8ff;
    margin-bottom: 6px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #0900b7;
    background: #f0f8ff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    margin-bottom: 1em;
}

#login-form input:focus {
    border-color: #79aaff;
    background: #ffffff;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #6aa6ff;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button[type="submit"]:hover {
    background-color: #0044cc;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.6);
}
